<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="/eel.js"></script>
</head>

<body>
    <header class="header">
        <div class="back-forward">
            <svg xmlns="http://www.w3.org/2000/svg" id="back" class="icon icon-tabler icon-tabler-chevron-left"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="15 6 9 12 15 18" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" id="forward" class="icon icon-tabler icon-tabler-chevron-right"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="9 6 15 12 9 18" />
            </svg>
        </div>
        <div class="search-container">
            <svg xmlns="http://www.w3.org/2000/svg" id="search-icon" class="icon icon-tabler icon-tabler-search"
                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="10" cy="10" r="7" />
                <line x1="21" y1="21" x2="15" y2="15" />
            </svg>
            <input type="search" name="search" spellcheck="false" onkeyup="searchTrack()"
                placeholder="Type here to Search..." id="search">
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" id="settings" class="icon icon-tabler icon-tabler-settings" width="24"
            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
                d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
            <circle cx="12" cy="12" r="3" />
        </svg>
    </header>
    <main>
        <div id="nav">
            <div class="sidhu">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="12" cy="12" r="9" />
                    <path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 0 0 0 4h2a2 2 0 0 1 0 4h-2a2 2 0 0 1 -1.8 -1" />
                    <path d="M12 6v2m0 8v2" />
                </svg>
                <p>Sidhu</p>
            </div>


            <!-- <div class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="10" cy="10" r="7" />
                    <line x1="21" y1="21" x2="15" y2="15" />
                </svg>
                Search
            </div> -->
            <div class="nav-text">Library</div>
            <div id="nav-tracks" class="nav-item">
                <span class=""></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-music" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="6" cy="17" r="3" />
                    <circle cx="16" cy="17" r="3" />
                    <polyline points="9 17 9 4 19 4 19 17" />
                    <line x1="9" y1="8" x2="19" y2="8" />
                </svg>
                <div class="nav-item-text">Tracks</div>
            </div>

            <div id="nav-albums" class="nav-item selected-nav-item">
                <span class="selected-indicator"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-disc" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="12" cy="12" r="9" />
                    <circle cx="12" cy="12" r="1" />
                    <path d="M7 12a5 5 0 0 1 5 -5" />
                    <path d="M12 17a5 5 0 0 0 5 -5" />
                </svg>
                <div class="nav-item-text">Albums</div>
            </div>
            <div id="nav-artists" class="nav-item">
                <span class=""></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-microphone-2" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M15.002 12.9a5 5 0 1 0 -3.902 -3.9" />
                    <path d="M15.002 12.9l-3.902 -3.899l-7.513 8.584a2 2 0 1 0 2.827 2.83l8.588 -7.515z" />
                </svg>
                <div class="nav-item-text">Artists</div>
            </div>

            <div class="nav-item">
                <span class=""></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                </svg>
                <div class="nav-item-text">Favourites</div>
            </div>

        </div>
        <div id="container">
            <div id="settings-container" class="inactive-container">
                <div class="settings-menu">
                    <div id="general" class="settings-menu-item">
                        Settings
                    </div>
                </div>
            </div>
            <div id="artists-container" class="inactive-container">
                {% for artist_info in LIBRARY.get_all_artists_info() %}
                <div class="artists-container-item">
                    <div class="artists-container-item-img-container">
                        {% if artist_info['artist_image'] %}
                        <img class="artists-container-item-img" src="{{ artist_info['artist_image'] }}">
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="artists-container-item-img artists-container-item-svg" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15.002 12.9a5 5 0 1 0 -3.902 -3.9" />
                            <path d="M15.002 12.9l-3.902 -3.899l-7.513 8.584a2 2 0 1 0 2.827 2.83l8.588 -7.515z" />
                        </svg>
                        {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="artists-container-item-btn-play" height="24px"
                            viewBox="0 0 24 24" width="24px" fill="#fff">
                            <path
                                d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z" />
                        </svg>

                    </div>
                    <div class="artists-container-item-bottom">
                        <p class="artists-container-item-artist">{{ artist_info['artist'] }}</p>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="artists-container-item-dots" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="5" cy="12" r="1" />
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="19" cy="12" r="1" />
                        </svg> -->
                    </div>
                </div>
                {% endfor %}
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="albums-container">
                {% for album in LIBRARY.get_all_albums() %}
                <div class="albums-container-item">
                    <div class="albums-container-item-img-container">
                        {% if album['album_art'] %}
                        <img class="albums-container-item-img" src="{{ album['album_art'] }}">
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="albums-container-item-img albums-container-item-svg" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="12" cy="12" r="9" />
                            <circle cx="12" cy="12" r="1" />
                            <path d="M7 12a5 5 0 0 1 5 -5" />
                            <path d="M12 17a5 5 0 0 0 5 -5" />
                        </svg>
                        {% endif %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="albums-container-item-btn-play" height="24px"
                            viewBox="0 0 24 24" width="24px" fill="#000000">
                            <path
                                d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z" />
                        </svg>

                    </div>
                    <div class="albums-container-item-bottom">
                        <p class="albums-container-item-album">{{ album['album'] }}</p>
                        <p class="albums-container-item-artist">{{ album['album_artist'] }}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="albums-container-item-dots" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="5" cy="12" r="1" />
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="19" cy="12" r="1" />
                        </svg>
                    </div>
                </div>
                {% endfor %}
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="tracks-table-container" class="inactive-container">
                <table id="tracks-table">
                    {% for data in TRACKS %}
                    <tr class="tracks-table-row">
                        <td>
                            {% if data['image'] %}
                            <img class="tracks-table-row-cover" src="{{ data['image'] }}" alt="">
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="tracks-table-row-cover tracks-table-row-svg"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <circle cx="6" cy="17" r="3" />
                                <circle cx="16" cy="17" r="3" />
                                <polyline points="9 17 9 4 19 4 19 17" />
                                <line x1="9" y1="8" x2="19" y2="8" />
                            </svg>
                            {% endif %}
                        </td>
                        <td class="tracks-table-row-id">{{ data['id'] }}</td>
                        <td class="tracks-table-row-title">{{ data['title'] }}</td>
                        <td class="tracks-table-row-artist">{{ data['artist'] }}</td>
                        <td class="tracks-table-row-album">{{ data['album'] }}</td>
                        <td class="tracks-table-row-duration">{{ data['formatted_duration'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
    <footer>
        <div class="horizontal-divider"></div>
        <div id="player">
            <div id="metadata">
                <img id="playing-albumart" src="">
                <svg xmlns="http://www.w3.org/2000/svg" id="playing-albumart-svg" width="24" height="24"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="6" cy="17" r="3" />
                    <circle cx="16" cy="17" r="3" />
                    <polyline points="9 17 9 4 19 4 19 17" />
                    <line x1="9" y1="8" x2="19" y2="8" />
                </svg>
                <div>
                    <p id="playing-title">Not Playing</p>
                    <p id="playing-artist">Not Playing</p>
                </div>
            </div>
            <div id="controls">
                <div id="player-btns">

                    <svg height="16" width="16" id="btn-shuffle" viewBox="0 0 16 16">
                        <path
                            d="M4.5 6.8l.7-.8C4.1 4.7 2.5 4 .9 4v1c1.3 0 2.6.6 3.5 1.6l.1.2zm7.5 4.7c-1.2 0-2.3-.5-3.2-1.3l-.6.8c1 1 2.4 1.5 3.8 1.5V14l3.5-2-3.5-2v1.5zm0-6V7l3.5-2L12 3v1.5c-1.6 0-3.2.7-4.2 2l-3.4 3.9c-.9 1-2.2 1.6-3.5 1.6v1c1.6 0 3.2-.7 4.2-2l3.4-3.9c.9-1 2.2-1.6 3.5-1.6z">
                        </path>
                    </svg>

                    <img id="btn-previous" src="../icons/previous.svg" alt="">
                    <img id="btn-play-pause" src="../icons/play.svg" alt="">
                    <img id="btn-next" src="../icons/next.svg" alt="">

                    <svg height="16" id="btn-repeat" width="16" onclick="repeat()" viewBox="0 0 16 16">
                        <path class="repeat-all-none"
                            d="M5.5 5H10v1.5l3.5-2-3.5-2V4H5.5C3 4 1 6 1 8.5c0 .6.1 1.2.4 1.8l.9-.5C2.1 9.4 2 9 2 8.5 2 6.6 3.6 5 5.5 5zm9.1 1.7l-.9.5c.2.4.3.8.3 1.3 0 1.9-1.6 3.5-3.5 3.5H6v-1.5l-3.5 2 3.5 2V13h4.5C13 13 15 11 15 8.5c0-.6-.1-1.2-.4-1.8z">
                        </path>
                        <path style="display: none;" class="repeat-one"
                            d="M5 5V4c-2.2.3-4 2.2-4 4.5 0 .6.1 1.2.4 1.8l.9-.5C2.1 9.4 2 9 2 8.5 2 6.7 3.3 5.3 5 5zm5.5 7H6v-1.5l-3.5 2 3.5 2V13h4.5c1.9 0 3.5-1.2 4.2-2.8-.5.3-1 .5-1.5.6-.7.7-1.6 1.2-2.7 1.2zm1-12C9 0 7 2 7 4.5S9 9 11.5 9 16 7 16 4.5 14 0 11.5 0zm.9 7h-1.3V3.6H10v-1h.1c.2 0 .3 0 .4-.1.1 0 .3-.1.4-.2.1-.1.2-.2.2-.3.1-.1.1-.2.1-.3v-.1h1.1V7z">
                        </path>
                    </svg>


                </div>
                <div id="time-controls">
                    <div id="playing-time-elapsed">--:--</div>
                    <div id="seekbar-container">
                        <input type="range" min="0" max="100" value="0" class="slider" id="seekbar">
                    </div>
                    <div id="playing-time-total">--:--</div>
                </div>

            </div>
            <div id="volume-controls">
                <img id="volume-icon" src="../icons/volume_up.svg" />
                <div class="volume-slider-container">
                    <input type="range" min="0" max="100" value="100" class="slider" id="volume-slider">
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="../js/main.js" defer></script>

</html>